<div class="main-div">
  <mat-card class="container mat-elevation-z3">
    <div style="text-align: end">
      <button mat-stroked-button class="action-btn search-bar-button" (click)="goBack()" style="margin-bottom: 20px">
        <mat-icon>arrow_back</mat-icon>
        <span>Go Back</span>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
      <div fxFlex="50">
        <br>
        <h1>{{contest?.title}}</h1>
        <mat-hint>{{contest?.ts | date: 'medium'}}</mat-hint>
        <br>
        <mat-hint>Maincategory: {{contest?.maincategory}}</mat-hint>
        <br>
        <mat-hint>Subcategory: {{contest?.subcategory}}</mat-hint>
        <p>Start Date - End Date</p>
        <p>{{contest?.startdate | date: 'medium'}} - {{contest?.enddate | date: 'medium'}}</p>
      </div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="end start">
        <div *ngFor="let i of list" class="logo-container">
          <img [src]="getUrl(contest?.mainimage) | secure | async" style=" max-height: 200px">
        </div>
      </div>
    </div>

    <div *ngFor="let file of files" class="file" fxLayout="row" fxLayoutAlign="space-between center">
      <a [href]="getUrl(file.id) | secure | async" download="{{file.name}}">
        <span>{{file.name}}</span>
        <span class="file-size">({{file.sizebytes | fileSize}})</span>
      </a>
    </div>

    <div>
      <h2>Abstract</h2>
      <quill-view-html [content]="contest?.abstract"></quill-view-html>
    </div>

    <!--  <div>-->
    <!--    <h3>Keywords:</h3>-->
    <!--    <div fxLayout="row-wrap" fxLayoutGap="10px">-->
    <!--      <p *ngFor="let keyword of contest?.keywords">{{keyword.keyword}},</p>-->
    <!--    </div>-->
    <!--  </div>-->

    <div>
      <h2>Description</h2>
      <quill-view-html [content]="contest?.description"></quill-view-html>
    </div>

    <div>
      <h2>Requirements</h2>
      <!--    <quill-view-html [content]="contest?.bibliography"></quill-view-html>-->
      <div>
        <table>
          <tr>
            <th>Education</th>
            <th>Experience</th>
            <th>Skills</th>
            <th>Other</th>
          </tr>
          <tr *ngFor="let requirement of contest?.requirements">
            <td>{{requirement.education}}</td>
            <td>
              <quill-view-html [content]="requirement?.experience"></quill-view-html>
            </td>
            <td>{{requirement.skills}}</td>
            <td>
              <quill-view-html [content]="requirement?.other"></quill-view-html>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div>
      <h2>Evaluation</h2>
      <quill-view-html [content]="contest?.evaluation"></quill-view-html>
    </div>

    <div>
      <h2>Reward</h2>
      <p>{{contest?.reward}}</p>
    </div>

    <mat-divider></mat-divider>
    <div class="social-info" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-hint>{{contest?.reads}} Reads</mat-hint>
      <mat-hint>{{contest?.numlikes}} Likes</mat-hint>
      <mat-hint class="comments" [matMenuTriggerFor]="readComments">{{contest?.numcomments}} Comments</mat-hint>
      <mat-hint>{{contest?.numshares}} Shares</mat-hint>
    </div>

    <mat-menu #readComments="matMenu" class="custom-mat-menu">
      <div style="padding: 15px 20px 0 20px">
        <div *ngFor="let comment of comments" class="comment-unit">
          <mat-hint>{{comment.ts | date: 'medium'}}</mat-hint>
          <div>{{comment.comment}}</div>
        </div>
      </div>
    </mat-menu>
  </mat-card>
</div>

