body {
  background-color: #ddd;
  padding: 40px 0;
}

.main-div {
  padding: 40px 0;
}

.container {
  width: 50%;
  margin: auto;
}

.file {
  padding: 5px;
  background-color: #f5f5f5;
  margin: 9px 50% 0 0;
}

.file-size {
  margin-left: 10px;
  font-weight: bold;
  font-size: .875rem;
  color: #777;
}

a {
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .file {
    margin: 9px 0 0 0;
  }

  .main-div {
    padding: 0;
  }

  .container {
    width: 91%;
    margin: auto;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: 400;
}

.comments:hover {
  cursor: pointer;
  font-weight: 500;
}

.comment-unit {
  //border: solid thin gray;
  padding: 10px;
  border-radius: 15px;
  background-color: #f0f2f5;
  margin-bottom: 15px;
}

.social-info {
  //border-top: solid thin #eeeeee;
  padding-top: 16px;
}
