<div class="container">
  <div style="text-align: end">
    <button mat-stroked-button class="action-btn search-bar-button" (click)="goBack()" style="margin: 20px">
      <mat-icon>arrow_back</mat-icon>
      <span>Go Back</span>
    </button>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <mat-horizontal-stepper>
      <mat-step [hasError]="hasErrorFirstTab()" errorMessage="Check for errors">
        <ng-template matStepLabel>First Tab</ng-template>
        <div fxLayout="column" fxLayoutAlign="center center">

          <!--        <h1 fxFlexAlign="start">Title</h1>-->
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Write the title with less than 150 characters" formControlName="title">
            <mat-error *ngIf="formGroup.controls['title'].hasError('serverError')">
              {{formGroup.controls['title'].getError('serverError')}}
            </mat-error>
          </mat-form-field>

          <!--        <h1 fxFlexAlign="start">Choose category</h1>-->
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Industry / Category</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   matInput
                   formControlName="category"
                   [matAutocomplete]="auto1">
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let category of filteredCategories | async" [value]="category['cat']">
                {{category['cat']}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls['category'].hasError('serverError')">
              {{formGroup.controls['category'].getError('serverError')}}
            </mat-error>
          </mat-form-field>

          <!--        <h1 fxFlexAlign="start">Choose publication</h1>-->
          <mat-form-field appearance="outline" fxFill>
            <mat-label>Type of publication</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   matInput
                   formControlName="type"
                   [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let type of filteredTypes | async" [value]="type['type']">
                {{type['type']}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formGroup.controls['type'].hasError('serverError')">
              {{formGroup.controls['type'].getError('serverError')}}
            </mat-error>
          </mat-form-field>
        </div>
        <h3 style="margin: 0;">Abstract</h3>
        <quill-editor [styles]="{height: '200px'}" formControlName="abstract"
                      class="custom-quill-tooltip"></quill-editor>
        <mat-error *ngIf="formGroup.controls['abstract'].hasError('serverError')">
          {{formGroup.controls['abstract'].getError('serverError')}}
        </mat-error>
        <input #input1 style="display: none" type="file" accept="image/*" (change)="handleAbstractFileInput($event)">
        <button mat-flat-button color="primary" (click)="input1.click()" type="button" style="margin-top: 20px"
                [class.spinner]="loading">
          <mat-icon>insert_photo</mat-icon>
          Upload Image
        </button>
        <div *ngFor="let i of list" class="logo-container">
          <img [src]="getUrl(mainImageId) | secure | async" style="max-width: 100%">
        </div>
        <div style="text-align: end">
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>

      <mat-step [hasError]="hasErrorSecondTab()" errorMessage="Check for errors">
        <ng-template matStepLabel>Second Tab</ng-template>
        <h3 style="margin: 0">Content</h3>
        <quill-editor [styles]="{height: '300px'}" formControlName="content"
                      class="custom-quill-tooltip"></quill-editor>
        <mat-error *ngIf="formGroup.controls['content'].hasError('serverError')">
          {{formGroup.controls['content'].getError('serverError')}}
        </mat-error>
        <input #input2 style="display: none" type="file" accept="*/*" (change)="handleFileInput($event)">
        <button mat-flat-button color="primary" (click)="input2.click()" type="button" [class.spinner]="loading"
                style="margin-top: 20px">
          <mat-icon>attach_file</mat-icon>
          Attach File
        </button>
        <div *ngFor="let file of files" class="file" fxLayout="row" fxLayoutAlign="space-between center">
          <a [href]="getUrl(file.id) | secure | async" download="{{file.name}}">
            <span>{{file.name}}</span>
            <span class="file-size">({{file.sizebytes | fileSize}})</span>
          </a>
          <!--          <div class="make-default" (click)="selectMainimage(file.id)"-->
          <!--               *ngIf="mainImageId !== file.id && !data.isArticle">Make Default-->
          <!--          </div>-->
          <!--          <mat-icon class="selected" *ngIf="mainImageId === file.id">check</mat-icon>-->
          <mat-icon style="cursor: pointer" (click)="removeFile(file.id)">close</mat-icon>
        </div>

        <div style="text-align: end">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>

      <mat-step [hasError]="hasErrorThirdTab()" errorMessage="Check for errors">
        <ng-template matStepLabel>Done</ng-template>

        <h3 style="margin: 0;">Bibliography</h3>
        <quill-editor [styles]="{height: '100px' ,'margin-bottom': '10px'}" formControlName="bibliography"
                      class="custom-quill-tooltip"></quill-editor>
        <mat-error *ngIf="formGroup.controls['bibliography'].hasError('serverError')">
          {{formGroup.controls['bibliography'].getError('serverError')}}
        </mat-error>
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field class="chip-list" appearance="outline">
            <mat-label>Keywords</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let keyword of keywords" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(keyword)">
                {{keyword.keyword}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Enter keyword here... - Press ENTER or ' , ' to seperate"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>

          <div formGroupName="authorship" fxLayout="column" fxFill class="authorship">
            <h3 style="margin: 0">Authorship</h3>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>Creation Date</mat-label>
                <input matInput placeholder="Choose a date" [matDatepicker]="picker" formControlName="creationdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formGroup.get('authorship.creationdate').hasError('serverError')">
                  {{formGroup.get('authorship.creationdate').getError('serverError')}}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" fxFlex>
                <mat-label>External link</mat-label>
                <input matInput placeholder="Choose a date" formControlName="externallink">
                <mat-error *ngIf="formGroup.get('authorship.externallink').hasError('serverError')">
                  {{formGroup.get('authorship.externallink').getError('serverError')}}
                </mat-error>
              </mat-form-field>
            </div>

            <button (click)="addAuthor()" type="button" mat-raised-button color="primary" fxFlexAlign="start"
                    class="round-button">
              <mat-icon>add</mat-icon>
              New Author
            </button>

            <div formArrayName="authors" style="margin-top: 20px">
              <div *ngFor="let author of formGroup.get('authorship.authors')['controls']; let i=index">
                <div [formGroupName]="i" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
                     fxLayoutAlign.xs="start stretch"
                     fxLayoutGap="20px" fxLayoutGap.xs="0">

                  <!--Name-->
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Author's name</mat-label>
                    <input type="text" placeholder="Author's name" matInput formControlName="name">
                  </mat-form-field>

                  <!--Date-->
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Contribution</mat-label>
                    <input type="text" matInput placeholder="Contribution" formControlName="contribution">
                  </mat-form-field>

                  <button (click)="removeAuthor(i)" mat-icon-button
                          [disabled]="formGroup.get('authorship.authors')['controls'].length == 1">
                    <mat-icon [class.delete-button]="formGroup.get('authorship.authors')['controls'].length !== 1">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <mat-form-field appearance="outline" fxFill>
            <mat-label>Visibilities</mat-label>
            <mat-select formControlName="visibility">
              <mat-option *ngFor="let visibility of visibilities" [value]="visibility.type">
                {{visibility.type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls['visibility'].hasError('serverError')">
              {{formGroup.controls['visibility'].getError('serverError')}}
            </mat-error>
          </mat-form-field>
        </div>

        <div style="text-align: end">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-flat-button type="submit" color="primary">Publish</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
