.unit {
  //border: solid thin gray;
  padding: 10px;
  border-radius: 15px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .unit:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  background: rgba(219, 236, 255, 0.4);
  border-radius: 30px;
  width: calc(98% - 6px);
  height: 98%;
  top: 1%;
  position: relative
}

.logo-container {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background-color: #f7f7f7;
  margin: 20px 0;
}

.expandable-icon {
  color: #868e96;
  padding: 10px;
}

.expandable-icon:hover {
  border-radius: 50px;
  background-color: #f7f7f7;
  color: black;
  font-size: 26px;
  cursor: pointer;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.file {
  padding: 5px;
  background-color: #f5f5f5;
  width: 550px;
  margin: 1% auto;

  .mat-icon {
    float: right;
    top: 10px;
    cursor: pointer;
  }
}

.back-button {
  top: -1%;
  right: 26%;
  position: relative;
}

.action-btn {
  float: right;
  margin-top: 20px;
}

.mat-stepper-horizontal {
  position: relative;
  width: 56.5%;
  height: 79%;
  background: #FFFFFF;
  border-radius: 24px;
  top: 10%;
  margin: auto;
  padding: 25px 30px;
  overflow-y: auto;
}

.organization-type {
  margin: auto;
  width: fit-content;
  top: 55px;
  position: relative;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #FF754C;

}

::ng-deep .mat-horizontal-stepper-header-container {
  padding: 0 60px 10px 60px;
}

::ng-deep .mat-horizontal-content-container {
  height: 68%;
  overflow: auto !important;
  width: 70%;
  margin: auto;
}


.mat-form-field {
  height: 56px;
  width: 559px;
  border-radius: 8px;
  margin-bottom: 1%;
}

.quill-editor {
  width: 559px;
  margin: auto;
}

.quill-editor-header {
  margin: 0 0 5px;
}

.hidden-input {
  display: none;
}

.footer-button {
  padding: 20px 20px 0;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: max-content;
  margin: auto;
  position: relative;
  top: 80px;

  .mat-flat-button {
    width: 150px;
    background: rgba(1, 98, 112, 1);
    color: #fff;
  }

  .mat-raised-button {
    width: 150px;
    margin-left: 20px;

    .mat-icon {
      font-size: 16px;
      line-height: 16px;
      height: 16px;
      width: 16px;
      color: #979797;
      float: right;
      top: 10px;
      position: relative;
    }
  }

  .backward-button {
    .mat-icon {
      float: left;
      top: 10px;
    }
  }
}

.category-header {
  margin: 2% 0 0 15%;
}

.mt-1 {
  margin-top: 10px;
}

.detail {
  .mat-form-field {
    width: 280px;
  }
}

.public-url {
  .mat-form-field {
    width: 250px;
  }
}

.add-button {
  width: 200px;
  margin: auto;
  position: relative;
}

.save-btn {
  background: #016270;
  height: 46px;
  width: 93px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  float: right;
  right: calc(50% - 291px);
  top: 65px;
  letter-spacing: 0.15px;
  color: white;
}

.mat-form-field {
  width: 280px;
}


.requirements {
  padding: 20px;
  border-radius: 15px;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  width: 559px;
  margin: auto;
  margin-bottom: 10px;
}

.logo-container {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background-color: #f7f7f7;
  margin: 20px 0;
}

.file {
  padding: 5px;
  background-color: #f5f5f5;
  margin: 9px 40% 0 0;
}

.file:hover .make-default {
  visibility: visible;
}

.file-size {
  margin-left: 10px;
  font-weight: bold;
  font-size: .875rem;
  color: #777;
}

a {
  font-weight: 500;
  text-decoration: none;
}

.round-button {
  background: #016270;
  color: white;
}

.mobile-file {
  display: none;
}

@media screen and (max-width: 800px) {
  .file {
    margin: 9px 0 0 0;
  }

  .container {
    width: 100%;
    margin: auto
  }
}

@media screen and (max-width: 767px) {
  .mat-stepper-horizontal {
    width: 92%;
    padding: 10px;
    height: 80%;
    top: 2%;
  }

  .container {
    border-radius: 0;
    height: 100%;
    top: 0
  }

  .back-button {
    right: 3%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0 30px 10px 30px;
  }

  ::ng-deep .mat-step-text-label {
    display: none;
  }

  .mat-form-field {
    width: 300px;
    margin-bottom: 5%;
  }

  .quill-editor {
    width: 300px;
    margin: auto;
  }

  ::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .footer-button {
    width: 300px;
    padding: 20px 0 15px;

    .mat-raised-button {
      width: 100px;
    }

    .mat-flat-button {
      width: 140px;
    }
  }

  .desktop-file {
    display: none;
  }

  .mobile-file {
    display: block;
  }

  .category-header {
    margin: 4% 0 0 4%;
  }

  .requirements {
    width: 300px;
  }

  ::ng-deep .mat-horizontal-content-container {
    height: 76%;
    width: 100%;
  }

  .save-btn {
    right: calc(50% - 147px);
    top: 0px;
  }
}
